body {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  background-color: var(--background);
}

h1, h2, h3 {
  font-weight: bold;
  color: var(--text2);
}

h4, h6 {
  font-weight: bold;
  color: var(--text1);
}

p {
  color: var(--text1);
}

/* Text */
.header-text {
  font-weight: bold;
}

.account-text {
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--text1);
  margin-top: 10%;
}

.followers-number {
  font-size: 3.5rem;
  font-weight: bold;
}

.followers-text {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 0;
  letter-spacing: 0.2rem;
}

.overview-number {
  padding-top: 5%;
}

.green-text {
  font-size: 0.7rem;
  font-weight: bold;
  color: hsl(163, 72%, 41%);
}

.red-text {
  font-size: 0.7rem;
  font-weight: bold;
  color: hsl(356, 69%, 56%);
}

/* Icons and Images */
.media-icon {
  margin: 0% 3%;
}

/* Containers */
.container-fluid {
  padding: 2% 10%;
}

.header-background {
  position: absolute;
  background-color: var(--topBGPattern);
  width: 100%;
  height: 35%;
  z-index: -1;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.light-dark-slider {}

/* Sections */
.header {}

/* Cards */
.card {
  margin: 6% 0%;
  border-color: var(--cardBG);
}

.sns-card {
  text-align: center;
  background-color: var(--cardBG);
  margin: 0%;
  padding: 0%;
}

.sns-card:hover {
  background: var(--cardBGHover);
}

.overview-card {
  background-color: var(--cardBG);
  vertical-align: bottom;
}

.overview-card:hover {
  background: var(--cardBGHover);
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--text1);
}

.attribution a {
  color: var(--text2);
}

/* Slider CSS*/
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-image: linear-gradient(45deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  background-color: black;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
  background-color: hsl(232, 19%, 15%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Custom Colors */
.card-img-top {
  height: 5px;
}

.fb-color {
  background-color: hsl(195, 100%, 50%);
}

.twitter-color {
  background-color: hsl(203, 89%, 53%);
}

.insta-color {
  background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.youtube-color {
  background-color: hsl(348, 97%, 39%);
}

:root {
  --limeGreen: hsl(163, 72%, 41%);
  --brightRed: hsl(356, 69%, 56%);
}

:root[data-theme='light'] {
  --background: hsl(0, 0%, 100%);
  --topBGPattern: hsl(225, 100%, 98%);
  --cardBG: hsl(227, 47%, 96%);
  --cardBGHover: #E0E3F0;
  --text1: hsl(228, 12%, 44%);
  --text2: hsl(230, 17%, 14%);
}

:root[data-theme='dark'] {
  --background: hsl(230, 17%, 14%);
  --topBGPattern: hsl(232, 19%, 15%);
  --cardBG: hsl(228, 28%, 20%);
  --cardBGHover: hsl(228, 28%, 25%);
  --text1: hsl(228, 34%, 66%);
  --text2: hsl(0, 0%, 100%);
}

/* ## Colors

### Primary

- Lime Green: hsl(163, 72%, 41%)
- Bright Red: hsl(356, 69%, 56%)

- Facebook: hsl(195, 100%, 50%)
- Twitter: hsl(203, 89%, 53%)
- Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%)
- YouTube: hsl(348, 97%, 39%)

#### Dark Theme

- Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%)

#### Light Theme

- Toggle: hsl(230, 22%, 74%)

### Neutral

#### Dark Theme

- Very Dark Blue (BG): hsl(230, 17%, 14%)
- Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
- Dark Desaturated Blue (Card BG): hsl(228, 28%, 20%)
- Desaturated Blue (Text): hsl(228, 34%, 66%)
- White (Text): hsl(0, 0%, 100%)

#### Light Theme

- White (BG): hsl(0, 0%, 100%)
- Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
- Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
- Dark Grayish Blue (Text): hsl(228, 12%, 44%)
- Very Dark Blue (Text): hsl(230, 17%, 14%)
 */
